
body {
    background-image: url("http://i.imgur.com/DK6Vn6q.jpg");
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.85;
}

#fullGameBox {
    width: 75%;
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 66%;
    background-color: pink;
    text-align: center; 
    padding-bottom: 25px;
    padding-top: 25px;

}

.row {
    margin-bottom: 15px;
}

#start-button {
    width: 100%;
}

#questionWindow {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
}

.hidden {
    display: none !important;
}

